body{
    background: var(--primary);
}

main{
    height: 735px;
}

.title-section{
    width: fit-content;
    position: absolute;
    top: 200px;
    left: 22.5%;
}

.title-section .title{
    color: var(--secondary);
    font-size: 28px;
    font-weight: 500;
}

.title-section .title span{
    font-size: 34px;
}

.title-section .description{
    color: var(--lightest);
    font-size: 20px;
    width: 350px;
    word-wrap: break-word;
    margin-left: 8px;
    margin-top: 10px;
}

.title-section .CTA,
input[type="submit"]{
    margin-top: 50px;
    width: fit-content;
    padding: 4px 14px;
    background: var(--secondary);
    color: var(--primary);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    box-shadow: 2px 2px var(--secondary-dark);
    transform: translate(-1px, -1px);
    outline: none;
    border: none;
}

input[type="submit"]{
    padding: 3px 16px;
}

.title-section .CTA:hover,
.title-section .CTA:focus,
input[type="submit"]:hover,
input[type="submit"]:focus{
    box-shadow: 2px 2px transparent;
    transform: translate(0px, 0px);
}

.svg-container{
    background: url(/svgs/svg1.svg);
    width: 500px;
    aspect-ratio: 158 / 150;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .4;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    animation: idle 3s ease-in-out infinite;
}

.feature-section{
    height: 400px;
    background: var(--primary-light);
    position: relative;
}

.feature-section:nth-of-type(even){
    background: var(--primary);
}

.feature-section .container{
    max-height: 400px;
    width: 35%;
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 130px;
}

.feature-section .title{
    color: var(--secondary);
    font-weight: 500;
    font-size: 27px;
    width: fit-content;
}

.feature-section .description{
    color: var(--light);
    word-wrap: break-word;
    margin-left: 8px;
    margin-top: 10px;
}

.feature-section img{
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    border-radius: 4px;
}

.contact{
    height: 400px;
}

.contact .title{
    color: var(--secondary);
    font-weight: 500;
    font-size: 26px;
    margin-top: 30px;
    margin-left: 120px;
}

.contact form{
    width: 80%;
    margin-top: 30px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.field-row{
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.field{
    width: 300px;
    position: relative;
    height: 60px;
}

.field label{
    display: block;
    position: absolute;
    top: 0;
    left: 6px;
    width: 100%;
    font-size: 20px;
    color: var(--light);
    pointer-events: none;
    transition: all 250ms;
}

.field label span{
    font-size: 11px;
    font-weight: 300;
    transition: all 250ms;
}

.field input{
    display: block;
    height: 34px;
    width: 300px;
    font-size: 20px;
    outline: none;
    background: transparent;
    border: none;
    border-radius: 1px;
    border-bottom: 3px solid var(--light);
    color: var(--lightest);
    padding: 0 6px;
}

.field input:focus-within{
    caret-color: var(--primary-lighter);
}

.field input:not(:placeholder-shown),
.field input:focus{
    border-color: var(--lightest);
}

.field input:not(:placeholder-shown) + label,
.field input:focus + label{
    top: -18px;
    left: 0px;
    font-size: 14px;
}
.field input:not(:placeholder-shown) + label span,
.field input:focus + label span{
    font-size: 8px;
}

@keyframes idle{
    0%{
        transform: translateY(calc(-50% - 4px));
    }
    50%{
        transform: translateY(calc(-50%));
    }
    100%{
        transform: translateY(calc(-50% - 4px));
    }
}