body{
    background: var(--primary);
    overflow-x: hidden;
}

main{
    background: var(--primary-light);
    position: absolute;
    left: 50%;
    top: calc(50% + 23px);
    transform: translate(-50%, -50%);
    height: 82.5%;
    width: 82.5%;
    border-radius: 3px;
}

