body{
    background: var(--primary);
    overflow-x: hidden;
}

nav{
    position: fixed;
    width: 100%;
    height: 46px;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -1px var(--primary-lighter);
    z-index: 100;
}

nav .logo{
    position: relative;
    left: 52px;
    font-size: 22px;
    color: var(--secondary);
    letter-spacing: 2px;
    font-weight: 500;
    text-decoration: none;
    outline: none;
}

nav .logo .icon{
    height: 22px;
    aspect-ratio: 1;
    background: url(/svgs/icon2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
}

nav .links{
    display: flex;
    width: fit-content;
    height: 100%;
    position: absolute;
    right: 200px;
    top: 0;
    justify-content: right;
    align-items: center;
    gap: 120px;
}

nav .links a{
    font-size: 20px;
    color: var(--light);
    text-decoration: none;
    padding: 3px 10px;
    display: block;
    letter-spacing: 1px;
    transition: all 200ms;
    outline: none;
}

nav .links a:hover,
nav .links a:focus{
    color: var(--lightest);
}

nav .links a .underline{
    display: block;
    height: 2px;
    width: calc(100% + 8px);
    background: var(--lightest);
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    opacity: 0;
    transition: opacity 200ms;
    border-radius: 1px 2px 1px 2px;
}

nav .links a:hover .underline,
nav .links a:focus .underline{
    opacity: 1;
    animation: underlineSlide 350ms forwards;
}

main{
    background: var(--primary-light);
    position: absolute;
    left: 50%;
    top: calc(50% + 23px);
    transform: translate(-50%, -50%);
    height: 82.5%;
    width: 82.5%;
    border-radius: 3px;
}

